description = "Footer Section"

[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/categories"

[blogTags]
hideOrphans = 1
results = 10
orderBy = 0
direction = "desc"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/categories"
postPage = "blog/post"
==
<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget widget_links clearfix">
							    
							    <h4>Categories</h4>

								<ul>
								    {% for category in categories %}
								    <li><a href="{{category.url}}" rel="nofollow">{{category.name}}</a></li>
								    {% endfor %}
								</ul>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Tag Cloud</h4>

								<ul>
								    {% for tag in blogTags.tags %}
									<li><a href="/tag/{{tag.name}}" rel="nofollow">{{tag.name}}</a></li>
									{% endfor %}
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Articles</h4>
								<div id="post-list-footer">
								    {% for post in posts %}
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{{ post.url }}" rel="nofollow">{{ post.title }}</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{ post.published_at|date("M-d-y") }}</li>
											</ul>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">
						
						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->