[viewBag]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"
==
<?php
function onStart()
{
    $this['base_url'] = $_SERVER ['SERVER_NAME'];
}
?>
==
<div class="sidebar-close visible-sm visible-xs">
    <a href="javascript:;" onclick="toggleSidebar()" class="close">&times;</a>
</div>

<div class="sidebar-segment hidden-sm hidden-xs">
    <!-- <img src="/themes/responsiv-clean/assets/images/ape.png" alt=""style="width: 77px;vertical-align:middle;width: 100%"> -->
    <h1 class="site-name">
        <a href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
    </h1>
    <p class="site-motto">
        {{ this.theme.site_motto }}
    </p>
</div>

<!-- 默认搜索
<form action="{{ 'search' | page }}" method="get" style="padding-left: 20%">
    <input name="q" type="text" placeholder="What are you looking for?" autocomplete="off">
    <button type="submit">Search</button>
</form> -->

<form action="{{ 'search' | page }}" method="get" style="padding-left: 20%">
    <div class="container-4">
        <input name="q" type="text" id="search" placeholder="Search..." autocomplete="on" />
        <button class="icon"><i class="icon-search"></i></button>
    </div>
</form>

<div class="sidebar-segment">
    <h2 class="segment-title">最近的帖子</h2>
    <ul class="segment-list">
        {% for post in blogPosts.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">标签</h2>
    <ul class="segment-list">
            {% component 'blogCategories' %}
        <!-- {% for category in blogCategories.categories %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
        {% endfor %} -->
    </ul>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">Follow me</h2>
    <ul class="segment-list">
        <li><img src="/themes/responsiv-clean/assets/images/sina.png" alt="" width="20px">&nbsp;&nbsp;<a href="javascript:volid(0)" target="_blank">微博 : @leslie-eilsel</a></li>
        <li><img src="/themes/responsiv-clean/assets/images/wechat.svg" alt="" width="16px">&nbsp;&nbsp;<a href="javascript:volid(0)" target="_blank">微信 : liuxing729320</a></li>
        <li><img src="/themes/responsiv-clean/assets/images/gmail.svg" alt="" width="15px">&nbsp;&nbsp;<a href="javascript:volid(0)">Email : leslieliuxing@gmail.com</a></li>
    </ul>
</div>
<style>
    .container-4 {
        overflow: hidden;
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
    }

    .container-4 input#search {
        width: 300px;
        height: 50px;
        background: #f1f1f1;
        border: none;
        font-size: 10pt;
        float: left;
        color: #65737e;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .container-4 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-4 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #65737e;
    }

    .container-4 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e;
    }

    .container-4 input#search:-ms-input-placeholder {
        color: #65737e;
    }

    .container-4 button.icon {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        border: none;
        background: #232833;
        height: 50px;
        width: 50px;
        color: #4f5b66;
        opacity: 0;
        font-size: 10pt;

        -webkit-transition: all .55s ease;
        -moz-transition: all .55s ease;
        -ms-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
    }

    .container-4:hover button.icon,
    .container-4:active button.icon,
    .container-4:focus button.icon {
        outline: none;
        opacity: 1;
        margin-left: -50px;
        color: #f1f1f1;
    }

    .container-4:hover button.icon:hover {
        background: #db6a26;
    }
</style>