[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1

[searchResults]
resultsPerPage = 10
showProviderBadge = 1
noResultsMessage = "Your search returned no results."
visitPageMessage = "Visit page"
==
<?php
function onStart()
{
    $this['base_url'] = $_SERVER ['SERVER_NAME'];
}
?>
==
<div class="sidebar-close visible-sm visible-xs">
    <a href="javascript:;" onclick="toggleSidebar()" class="close">&times;</a>
</div>

<div class="sidebar-segment hidden-sm hidden-xs">
    <!-- <img src="/themes/responsiv-clean/assets/images/ape.png" alt=""style="width: 77px;vertical-align:middle;width: 100%"> -->
    <h1 class="site-name">
        <a href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
    </h1>
    <p class="site-motto">
        {{ this.theme.site_motto }}
    </p>
</div>

<form action="{{ 'search' | page }}" method="get">
    <input name="q" type="text" placeholder="What are you looking for?" autocomplete="off">
    <button type="submit">Search</button>
</form>

<div class="sidebar-segment">
    <h2 class="segment-title">最近的帖子</h2>
    <ul class="segment-list">
        {% for post in blogPosts.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">标签</h2>
    <ul class="segment-list">
            {% component 'blogCategories' %}
        <!-- {% for category in blogCategories.categories %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
        {% endfor %} -->
    </ul>
</div>

<div class="sidebar-segment">
    <h2 class="segment-title">Follow me</h2>
    <ul class="segment-list">
        <li><img src="/themes/responsiv-clean/assets/images/sina.png" alt="" width="20px">&nbsp;&nbsp;<a href="javascript:volid(0)" target="_blank">微博 : @leslie-eilsel</a></li>
        <li><img src="/themes/responsiv-clean/assets/images/wechat.svg" alt="" width="16px">&nbsp;&nbsp;<a href="javascript:volid(0)" target="_blank">微信 : liuxing729320</a></li>
        <li><img src="/themes/responsiv-clean/assets/images/gmail.svg" alt="" width="15px">&nbsp;&nbsp;<a href="javascript:volid(0)">Email : leslieliuxing@gmail.com</a></li>
    </ul>
</div>